/// GENERIC MIXINS
@mixin border-radius($radius: 0px) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
       -o-border-radius: $radius; // lolopera
          border-radius: $radius;
}

.branch {
  margin: 150px auto 200px;
  // set dimensions & border crap
  width: 51px;
  height: 51px;
  @include border-radius(26px);
  position: relative;
  // ooh pretty hover

  // set the background color for type of "branch"
  &.branch--sass {
    background-color: #ce4dd6;
    color: #fff;
  }
  // and the label of the branch "S for Sass"
  .branch__label {
    display: block;
    text-align: center;
    font-size: 2em;
    padding-top: 0.23em;
  }
}

// the actual arms!
.branch__arm {
  width: 180px;
  height: 32px;

  .arm__circle {
    width: 32px;
    height: 32px;
    background-color: #333;
    @include border-radius(32px);
    border: 2px solid transparent;
    opacity: 0;

    &:hover {
      border: 2px solid #777;
      cursor: pointer;
    }
  }

  .arm__label {
    display: block;
    padding-top: 0.45em;
    text-align: center;
    color: #fff;
  }
}

@for $arms from 1 through 6 {
  
  .branch[data-arms="#{$arms}"]  {
    $armNumber: 1;
    $theta: 360deg/$arms;
    $degree: 0deg;

    @while $armNumber <= $arms {
      $animationDelay: $armNumber * 0.1s;

      .arm--#{$armNumber} {
        position: absolute;
        top: 10px;
        left: -$arms + -60px; // position hacking fml
        -webkit-transform:rotate($degree);
        .arm__circle {
          -webkit-transform:rotate(-$degree);
          -webkit-animation: arms 0.3s ease-in;
          -webkit-animation-delay: $animationDelay;
          -webkit-animation-fill-mode:forwards; // keep opacity
        }
      }

      $armNumber: $armNumber + 1;
      $degree: ($armNumber - 1) * $theta;
    }
  }

}

@-webkit-keyframes arms {
  0% { opacity: 0; height: 48px; width: 48px; font-size: 1.75em; }
  100% { opacity: 1; height: 32px; width: 32px; font-size: 1em; }
}

