.branch {
  margin: 10em auto;
  width: 51px;
  height: 51px;
  border-radius: 26px;
  position: relative;
  opacity: 0.8; }
  .branch:hover {
    opacity: 1;
    cursor: pointer; }
  .branch.branch--sass {
    background-color: #ce4dd6;
    color: #fff; }
  .branch .branch__label {
    display: block;
    text-align: center;
    font-size: 2em;
    padding-top: 0.24em; }

.branch__arm {
  width: 180px;
  height: 32px;
  display: none;
  opacity: 1; }
  .branch__arm .arm__circle {
    width: 32px;
    height: 32px;
    background-color: #000;
    border-radius: 32px;
    border: 2px solid transparent; }
    .branch__arm .arm__circle:hover {
      border: 2px solid #777; }
  .branch__arm .arm__label {
    display: block;
    padding-top: 0.45em;
    text-align: center;
    color: #fff; }

.branch[data-arms="1"] .arm--1 {
  position: absolute;
  top: 10px;
  left: -60px;
  -webkit-transform: rotate(0deg); }
  .branch[data-arms="1"] .arm--1 .arm__circle {
    -webkit-transform: rotate(0deg); }

.branch[data-arms="2"] .arm--1 {
  position: absolute;
  top: 10px;
  left: -60px;
  -webkit-transform: rotate(0deg); }
  .branch[data-arms="2"] .arm--1 .arm__circle {
    -webkit-transform: rotate(0deg); }
.branch[data-arms="2"] .arm--2 {
  position: absolute;
  top: 10px;
  left: -60px;
  -webkit-transform: rotate(180deg); }
  .branch[data-arms="2"] .arm--2 .arm__circle {
    -webkit-transform: rotate(-180deg); }

.branch[data-arms="3"] .arm--1 {
  position: absolute;
  top: 10px;
  left: -60px;
  -webkit-transform: rotate(0deg); }
  .branch[data-arms="3"] .arm--1 .arm__circle {
    -webkit-transform: rotate(0deg); }
.branch[data-arms="3"] .arm--2 {
  position: absolute;
  top: 10px;
  left: -60px;
  -webkit-transform: rotate(120deg); }
  .branch[data-arms="3"] .arm--2 .arm__circle {
    -webkit-transform: rotate(-120deg); }
.branch[data-arms="3"] .arm--3 {
  position: absolute;
  top: 10px;
  left: -60px;
  -webkit-transform: rotate(240deg); }
  .branch[data-arms="3"] .arm--3 .arm__circle {
    -webkit-transform: rotate(-240deg); }

.branch[data-arms="4"] .arm--1 {
  position: absolute;
  top: 10px;
  left: -60px;
  -webkit-transform: rotate(0deg); }
  .branch[data-arms="4"] .arm--1 .arm__circle {
    -webkit-transform: rotate(0deg); }
.branch[data-arms="4"] .arm--2 {
  position: absolute;
  top: 10px;
  left: -60px;
  -webkit-transform: rotate(90deg); }
  .branch[data-arms="4"] .arm--2 .arm__circle {
    -webkit-transform: rotate(-90deg); }
.branch[data-arms="4"] .arm--3 {
  position: absolute;
  top: 10px;
  left: -60px;
  -webkit-transform: rotate(180deg); }
  .branch[data-arms="4"] .arm--3 .arm__circle {
    -webkit-transform: rotate(-180deg); }
.branch[data-arms="4"] .arm--4 {
  position: absolute;
  top: 10px;
  left: -60px;
  -webkit-transform: rotate(270deg); }
  .branch[data-arms="4"] .arm--4 .arm__circle {
    -webkit-transform: rotate(-270deg); }

.branch[data-arms="5"] .arm--1 {
  position: absolute;
  top: 10px;
  left: -60px;
  -webkit-transform: rotate(0deg); }
  .branch[data-arms="5"] .arm--1 .arm__circle {
    -webkit-transform: rotate(0deg); }
.branch[data-arms="5"] .arm--2 {
  position: absolute;
  top: 10px;
  left: -60px;
  -webkit-transform: rotate(72deg); }
  .branch[data-arms="5"] .arm--2 .arm__circle {
    -webkit-transform: rotate(-72deg); }
.branch[data-arms="5"] .arm--3 {
  position: absolute;
  top: 10px;
  left: -60px;
  -webkit-transform: rotate(144deg); }
  .branch[data-arms="5"] .arm--3 .arm__circle {
    -webkit-transform: rotate(-144deg); }
.branch[data-arms="5"] .arm--4 {
  position: absolute;
  top: 10px;
  left: -60px;
  -webkit-transform: rotate(216deg); }
  .branch[data-arms="5"] .arm--4 .arm__circle {
    -webkit-transform: rotate(-216deg); }
.branch[data-arms="5"] .arm--5 {
  position: absolute;
  top: 10px;
  left: -60px;
  -webkit-transform: rotate(288deg); }
  .branch[data-arms="5"] .arm--5 .arm__circle {
    -webkit-transform: rotate(-288deg); }

.branch[data-arms="6"] .arm--1 {
  position: absolute;
  top: 10px;
  left: -60px;
  -webkit-transform: rotate(0deg); }
  .branch[data-arms="6"] .arm--1 .arm__circle {
    -webkit-transform: rotate(0deg); }
.branch[data-arms="6"] .arm--2 {
  position: absolute;
  top: 10px;
  left: -60px;
  -webkit-transform: rotate(60deg); }
  .branch[data-arms="6"] .arm--2 .arm__circle {
    -webkit-transform: rotate(-60deg); }
.branch[data-arms="6"] .arm--3 {
  position: absolute;
  top: 10px;
  left: -60px;
  -webkit-transform: rotate(120deg); }
  .branch[data-arms="6"] .arm--3 .arm__circle {
    -webkit-transform: rotate(-120deg); }
.branch[data-arms="6"] .arm--4 {
  position: absolute;
  top: 10px;
  left: -60px;
  -webkit-transform: rotate(180deg); }
  .branch[data-arms="6"] .arm--4 .arm__circle {
    -webkit-transform: rotate(-180deg); }
.branch[data-arms="6"] .arm--5 {
  position: absolute;
  top: 10px;
  left: -60px;
  -webkit-transform: rotate(240deg); }
  .branch[data-arms="6"] .arm--5 .arm__circle {
    -webkit-transform: rotate(-240deg); }
.branch[data-arms="6"] .arm--6 {
  position: absolute;
  top: 10px;
  left: -60px;
  -webkit-transform: rotate(300deg); }
  .branch[data-arms="6"] .arm--6 .arm__circle {
    -webkit-transform: rotate(-300deg); }
